<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/user}" th:object="${user}">
    <label for="username">Enter name: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>

    <br/>

    <label for="surname">Surname: </label>
    <input name="surname" type="text" th:field="*{surname}" id="surname"/>
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>

    <br/>

    <label for="age">Age: </label>
    <input name="age" type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>

    <br/>

    <label for="email">Email: </label>
    <input name="email" type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>

    <br/>

    <label for="password">Password: </label>
    <input name="password" type="text" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>

    <br/>

    <input type="checkbox"  th:id="2" name="ADMIN" value="ADMIN">ADMIN</p>
    <input type="checkbox"  th:id="1"  name="USER" value="USER">USER</p>

    <input type="submit" value="Create"/>
</form>

</body>
</html>