<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8" />
  <title>Loop</title>
  <style>
    table th, table td {padding: 5px;}
    .row  {
      font-style: italic;
    }
    .even-row {
      color: black;
    }
    .odd-row {
      color: blue;
    }
  </style>
</head>

<body>
<h1>User</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Age</th>
    <th>Email</th>
    <th>Id</th>
    <th>Role</th>
    <th>Password</th>

  </tr>
  <td th:text="${user.getUsername()}">VALUE</td>
  <td th:text="${user.getSurname()}">VALUE</td>
  <td th:text="${user.getAge()}">VALUE</td>
  <td th:text="${user.getEmail()}">VALUE</td>
  <td th:text="${user.getId()}">VALUE</td>
  <td th:each="role: ${roles}"><p th:text="${role.name}"></p></td>
  <td th:text="${user.getPassword()}">VALUE</td>
</table>

<br/>
<br/>
<a th:href="@{/logout}">LOGOUT</a>

</body>
</html>